
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>
            ACME S.R.L.
        </h1>
        <p>
            Una organización a su servicio, para resolver
            cualquier problema
        </p>
    </div>
</body>
</html>
